.instructionsbox {
    width: 100%;
    text-align: center;
    vertical-align: center;
    font-family: 'Holtwood One SC', serif;
    color: #fff;
    text-shadow: 0 0 5px #000;
    margin-top: 20px;
    margin-bottom: 20px;
}

.instructionsbox h1 {
    font-size: 3.5em;
}

.instructionsbox p {
    font-size: 1.8em;
}